<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylifecycle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLifecycle">
        <activity
            android:name=".user6_support_library.User6Activity"
            android:exported="false" />
        <activity
            android:name=".user5_inner_interface_delivery.User5Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user4_inner_class.User4Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user3_mvp_t.User3Activity"
            android:exported="true" />
        <activity
            android:name=".user2_mvp.User2Activity"
            android:exported="false" />
        <activity
            android:name=".use1.Use1Activity"
            android:exported="false" />
    </application>

</manifest>